.img-logo {
    width: 120px;
    height: 70px;
}

body {
    background-color: #FDF4F4;
}

nav {
    background: #CABCF6;
}

.img-carrito {
    width: 40px;
    height: 40px;
}

.precio
{
font-size: 35px;

}